h1{
  color:blue;
  text-align: center;
  background-color: purple;

}
h2{
  color:green;
  font-style: italic;
  text-align: center;
  font-size: 13;
  font-weight: 300;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
  color: pink;
}
body{
  background-color: grey;
}
strong{
  font-style: italic;
}
em{
  font-weight: bold;
}
